<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Employee</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form [formGroup]="editEmployee">
        <div class="form-group">
          Name:
          <input class="form-control" formControlName="name" />
        </div>
        <div class="form-group">
          Surname:
          <input class="form-control" formControlName="surname" />
        </div>
        <div class="form-group">
          City:
          <input class="form-control" formControlName="city" />
        </div>
        <div class="form-group">
            Department:
            <select class="form-control" formControlName="department">
              <option *ngFor="let department of departmentOptions" [ngValue]="department">{{ department }}</option>
            </select>
          </div>
        <div class="form-group">
          Is Active:
          <div class="form-check form-switch">
            <input type="checkbox" class="form-check-input" formControlName="isActive">
          </div>
        </div>
            <br />
            <div class="modal-footer">
                <button class="btn btn-primary" *ngIf="employee?.id" (click)="updateEmployee()" style="background-color:#0F3141; border:solid 1px #1F1F1E;" type="button">Update</button>

                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
            </div>
    </form>
</div>