<div class="container">
    <div class="center" style="overflow-x:auto;">
      <div class="addButton">
        <h1 style="color:#ECE5D3;">Employees</h1>
        <hr style="border: solid 1px #ECE5D3;">
        <button class="btn btn-primary btn-lg active" role="button" aria-pressed="true" >Create new employee</button>
      </div>
      <table class="table table" >
          <thead>
              <tr class="table-active">
                  <th scope="col">Id</th>
                  <th scope="col">Name</th>
                  <th scope="col">Surname</th>
                  <th scope="col">City</th>
                  <th scope="col">Department</th>
                  <th scope="col">IsActive</th>
                  <th scope="col">Edit</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let employee of employees">
                  <td>{{employee.id}}</td>
                  <td>{{employee.name}}</td>
                  <td>{{employee.surname}}</td>
                  <td>{{employee.city}}</td>
                  <td>{{employee.department !== undefined ? getDepartmentString(employee.department) : 'Unknown'}}</td>
                  <td>{{employee.isActive}}</td>
                  <td><button type="button" id="editButton" class="btn btn-primary me-1">Edit</button>
                  <button type="button" class="btn btn-danger">Delete</button></td>
              </tr>
          </tbody>
      </table>
      </div> 
    </div>
